---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h1>About Me</h1>
        <p>I'm Priyanka Datta, a computer science student and machine learning enthusiast.</p>
        <p>I'm currently learning about deep learning and NLP.</p>
        <p>I spend my free time at the gym and cooking!</p>
	</body>
</html>
